/* -------
    Fonts
   ------- */
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Caveat+Brush|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:600&display=swap');

/* ------
   Colors
   ------ */

:root {
    --background: #4c5066;
    --card-color: #bc9ec1;
    --card-shadow: #685a6b;
    --card-primary: #c5a6ca;
    --title-color: #e448b0;
    --btn-title: #604764;
    --card-tooltip: #8a658a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--title-color);
    text-align: center;
    font-family: 'Pacifico';
    font-weight: 500;
    padding-top: 20px;
    font-size: 4em;
    text-decoration: underline;
    text-decoration-color: #8ea3b1
}

.card {
    width: 70vw;
    background-color: var(--card-color);
    margin: 30px auto;
    box-shadow: 10px 10px var(--card-shadow),
                12px 12px 22px rgba(0, 0, 0, 0.287);
    padding: 30px;
    position: relative;
}

    .card::before{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-left: 10px solid var(--card-shadow);
        border-right: 0;
        top: 0;
        right: -10px;
    }

    .card::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-top: 10px solid var(--card-shadow);
        border-bottom: 0;
        bottom: -10px;
        left: 0;
    }

    .card:hover .card-tooltip {
        left: -130px;
    }

.card-tooltip {
    position: absolute;
    font-size: 1.8rem;
    background-color: var(--card-tooltip);
    padding: 10px 40px 50px 40px;
    color: rgb(253, 234, 234);
    font-weight: lighter;
    font-family: 'Pacifico';
    border-radius: 10px 10px 0px 0px;

    left: -90px;
    top: 140px;
    transform: rotate(-0.25turn);
    z-index: -1;

    transition: all 0.5s ease-in-out
}

.sub-card-container {
    background: var(--card-primary);
    padding: 40px;
    margin-bottom: 40px;
    position: relative;
}

.sub-card-container:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub-card-container:last-child {
    margin-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sub-card-title {
    font-size: 2.2em;
    color: var(--btn-title);
    font-weight: 400;
    font-family: 'Caveat Brush';
    width: 90%;
    margin-bottom: 30px;
}

.btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* -----------------------
    Facebook style button 
   ----------------------- */

.btn-1 {
    background-color: #3c5fa3;
    background-image: radial-gradient(#6283c7, #3c5fa3);
    cursor: pointer;
    height: 50px;
    width: 200px;
    color: white;
    text-shadow: 1px 1px 5px rgb(49, 49, 49);
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 2px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 2px #6583be inset;
}

    .btn-1:hover {
        background-image: radial-gradient(#6283c7, #4369b6)
    }

/* -----------
    3D button 
   ----------- */

.btn-2 {
    background-color: #E75151;
    color: rgb(255, 233, 233);
    font-weight: 600;
    height: 70px;
    width: 160px;
    font-size: 1.7em;
    border: 0;
    position: relative;
    cursor: pointer;
    box-shadow: -10px 10px 0px rgb(177, 62, 62);
}

 .btn-2:active {
     left: -4px;
     bottom: -4px;
     box-shadow: -6px 6px 0 rgb(177, 62, 62);
     background-color: rgb(224, 90, 90);
     outline-style: none;
 }

 .btn-2:active::before {
     border: 6px solid transparent;
     border-right: 6px #b13e3e solid;
     border-left: 0;
     left: -6px;
 }

 .btn-2:active::after {
     border: 6px solid transparent;
     border-top: 6px #b13e3e solid;
     border-bottom: 0px;
     bottom: -6px;
 }

  .btn-2::before {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border: 10px transparent solid;
      border-right: 10px #b13e3e solid;
      border-left: 0;
      top: 0;
      left: -10px;
  }
  
  .btn-2::after {
      content: "";
      height: 0;
      width: 0;
      border: 10px transparent solid; 
      border-top: 10px #b13e3e solid;
      border-bottom: 0;
      position: absolute;
      right: 0;
      bottom: -10px;
  }

/* ----------------
   Circle 3D button
   ---------------- */

.btn-3 {
    background-image: radial-gradient(rgb(250, 171, 142), rgb(216, 71, 71));
    cursor: pointer;
    border:0;
    height: 100px;
    width: 100px;
    font-size: 1.3em;
    text-shadow: 0px -1px 5px rgb(216, 71, 71);
    font-weight: 700;
    color: rgb(255, 240, 240);

    border-radius: 50%;
    box-shadow: 0 1px 0px rgb(214, 154, 154) inset,
                0 5px 0px rgb(185, 90, 90),
                0 10px 1px rgb(144, 144, 144);
    position: relative;
}

 .btn-3:active {
     background-color: rgb(248, 146, 108);
     bottom: -5px;
     box-shadow: 0px 5px 0px rgb(185, 90, 90);
 }

/* ---------------
   Gradient button
   --------------- */

/* first button */
.btn-4 {
    height: 80px;
    width: 180px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(183, 35, 202);
    border: 10px solid transparent;
    cursor: pointer;
    background-color: transparent;
    border-image: linear-gradient(
        45deg,
        rgb(204, 0, 255),
        rgb(0, 255, 255));
    border-image-slice: 1;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn-4-gradient {
    height: 60px;
    width: 160px;
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 0;
    background-image: linear-gradient(
        45deg,
        rgb(204, 0, 255),
        rgb(0, 255, 255));
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

    .btn-4:hover .btn-4-gradient{
        top: 0;
        transform: scale(1);
        border-radius: 0;
    }

    .btn-4:hover {
        color: white;
    }

/* Second button */
.btn-5 {
    height: 80px;
    width: 180px;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(194, 26, 104);
    border: 10px solid transparent;
    cursor: pointer;
    background-color: transparent;
    border-image: linear-gradient(
        to right,
        rgb(255, 0, 149),
        #c5a6ca);
    border-image-slice: 1;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.btn-5-gradient {
    background-image: linear-gradient(
        to right,
        rgb(255, 0, 149),
        #c5a6ca);
    height: 60px;
    width: 160px;
    z-index: -1;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

    .btn-5:hover { color: rgb(34, 24, 24) }
    .btn-5:hover .btn-5-gradient {
        opacity: 1;
    }


/* ---------------
   Animated button
   --------------- */

/* First button */
.btn-6 {
    padding: 20px 70px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;

    background-image: url(src/pattern.png);
    background-size: 100px;
    background-position: unset;

    border: 5px #f00795 solid;
    border-radius: 5px;

    transition: all 0.7s linear;
}

    .btn-6:hover {
        animation: btn-6-animation 5s linear infinite;
        animation-fill-mode: both
    }

    @keyframes btn-6-animation {
        from {
            background-position: left;
        }
        to {
            background-position: right;
        }
    }

/* Second button */
.btn-7 {
    padding: 20px 60px;
    font-size: 1.5em;
    color: rgb(56, 140, 151);
    font-weight: bold;
    cursor: pointer;

    background-size: 100px;
    background-color: #4fc8cc;
    background-position: unset;

    border-radius: 5px;
    border: 5px #2f9b89 solid;

    transition: all 0.5s ease-in-out;
    position: relative;
}

    .btn-7::after {
        content: '>>';
        font-weight: bolder;
        font-size: 0.7em;
        position: absolute;
        top: 35%;
        right: 30px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .btn-7:hover {
        padding-left: 40px;
        padding-right: 80px
    }

    .btn-7:hover::after {
        opacity: 1;
        right: 40px
    }

/* --------------
   Toogle buttons
   -------------- */

/* First button */

.btn-8-input {
    display: none;
}

.btn-8 {
    display: inline-block;
    position: relative;
    font-size: 1em;
    color: white;
    line-height: 20px;
    text-transform: uppercase;
    background-color: grey;
    border: solid 3px rgb(76, 87, 87);
    height: 40px;
    width: 80px;
    cursor: pointer;
    border-radius: 50px;

    transition: all 0.5s ease-in-out;
}

    .btn-8::after {
        position: absolute;
        top: 5px;
        left: 5px;
        
        content: '';
        padding: 5px;
        color: white;
        background-color: rgba(204, 204, 204, 0.671);
        font-weight: bold;
        font-size: 0.7em;
        line-height: 29px;
        text-align: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;

        transition: all 0.5s ease-in-out;
    }

    .btn-8-input:checked + .btn-8 {
        background-color: rgb(38, 186, 206);
        border-color: rgb(45, 136, 148);
    }
    
    .btn-8-input:checked + .btn-8::after{
        position: absolute;
        transform: translateX(40px);
        background-color: rgba(107, 107, 107, 0.397);
        
        content: '';
        border-radius: 50%;
    }

/* Second button */

.btn-9-input {
    display: none;
}

.btn-9 {
    color: rgb(189, 189, 189);
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgb(104, 104, 104);
    padding: 20px 40px;
    border: 2px rgb(158, 158, 158) solid;
    border-radius: 10px;
    cursor: pointer;

    position: relative;
    transition: all 0.5s ease-in-out;
}

    .btn-9::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 180px;
        left: 35px;
        top: 50%;
        background-color: #b3b3b3;

        transition: all 0.5s ease-in-out; 
    }

    .btn-9-input:checked + .btn-9::before {
        width: 0;
    }

    .btn-9-input:checked + .btn-9{
        background-color: rgb(199, 76, 117);
        border-color: rgb(119, 32, 72);
        color: white;
    }

/* ==========================
   ------ Second card -------
   ========================== */
   
.typo-1 {
    font-family: 'Berkshire Swash';
    color: rgb(110, 87, 136);
    font-size: 5em;
    text-shadow: 3px 3px 0px #c5a6ca,
                 9px 9px 0px rgba(0, 0, 0, 0.1);
}

.typo-2 {
    font-family: 'Berkshire Swash';
    padding: 30px;
    color: rgb(207, 68, 142);
    font-size: 6em;
    transform: skew(5deg, -5deg);
    text-shadow: 1px 1px 0px #a0326d,
                 2px 2px 0px #a0326d,
                 3px 3px 0px #a0326d,
                 4px 4px 0px #a0326d,
                 5px 5px 0px #a0326d,
                 6px 6px 0px #a0326d,
                 7px 7px 0px #a0326d,
                 8px 8px 0px #5a2b43,
                 9px 9px 0px #5a2b43,
                 9px 9px 0px #5a2b43,
                 10px 10px 5px black;

}

/* ======================
   -----Login form ------
   ====================== */

/* login wrapper */
.login-form-wrapper {
    background-image: linear-gradient(
        0deg,
        rgb(143, 61, 175) 50%,
        rgb(211, 86, 86) 40%
    );

    background-size: 300%;
    background-position: top right;
    text-align: center;
    padding: 120px;
    border-radius: 10px;
}

/* login card */
.login-form-block {
    background-image: 
        linear-gradient(
            135deg,
          #8f3daf 10%,
            transparent 10%),
        linear-gradient(
            135deg,
            #c7c566 90%,
            #d35656 90%);
    
    display: inline-block;
    background-size: 200%;
    background-position: center;
    padding: 40px;
    border-radius: 10px;
    position: relative;

    transition: all 0.5s ease-in-out; 
}

    .login-form-block:hover {
        background-size: 100%;
    }

/* Logo */
.user-logo-clip {
    background-color: #954eb1;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

/* Input fields */
.email-input, .pass-input {
    border-radius: 20px;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    margin: 50px 30px 10px 30px;
    background-color: rgb(177, 172, 151);
    transition: all 0.5s ease-in-out; 
}

    .email-input:focus, .pass-input:focus {
        background-color: rgb(209, 188, 150);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.219);
        transform: scale(1.01)
    }

.pass-input {
    margin: 10px 30px 20px 30px;
}


.submit-button {
    display: block;
    margin: 40px auto 50px auto;
    padding: 10px 60px;
    box-sizing: border-box;
    font-size: 1.4em;
    border-radius: 20px;
    border: 0;
    background-color: #d35656;
    color: white;
    font-weight: lighter;
    font-family: 'Caveat Brush';
    cursor: pointer;

    transition: all 0.5s ease-in-out;
}

    .submit-button:hover {
        background-color: #e46d6d;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.335);
    }


/* ===================
   ---Profile cards---
   =================== */

/* Profile  */

.profile-card-background {
    padding: 30px;
}

.profile-card-wrapper {
    background-color: #c9bae2;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.473);
}

.profile-background-art {
    background-image: url('src/background.jpg');
    background-size: 100%; 
    background-position: center;
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 100% 100%;
    overflow: hidden;
}

.profile-background-parent {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-image: linear-gradient(
        105deg,
        #80a2da,
        #ff4081
    );
    background-size: 200%;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.profile-background-parent:hover {
    background-position: left;
    width: 100%;
    height: 100%;
}

.profile-background {
    background-color: cornflowerblue;
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 1s linear;
}

.profile-background-parent:hover .profile-background{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile {
    background-image: url('src/profile.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-size: 120px;
    transition: all 1s linear;
    background-position: center;
}

.profile-background-parent:hover .profile-background .profile {
    height: 150px;
    width: 150px;
    background-size: 150px;
}

/* Name */
.name {
    font-family: 'Montserrat';
    font-size: 1.6em;
    color: #39366d;
    text-align: center;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}

.bio {
    color: #484469;
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    transition: all 0.5s ease-in-out;
}

.info {
    text-align: center;
    margin: 20px 60px;
    color: rgb(78, 48, 95);
    font-size: 0.9em;
    transition: all 0.5s ease-in-out;
}

/* Social media icons */
.social-icons-container {
    justify-content: space-evenly;
    display: flex;
    align-items: flex-end;
}

.button-background {
    background-color: #f8d7ff;
    border-radius: 50%;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.icons {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #695560;
}

.yt {
    background-image: url(src/youtube.png);
}

.fb {
    background-image: url(src/facebook.png);
}

.ig {
    background-image: url(src/instagram.png);
}

.tw {
    background-image: url(src/twitter.png);
}

/* Follow button */
.follow {
    background-image: linear-gradient(
        45deg,
        #e65493,
        #899bd4
    );
    background-size: 200%;
    background-position: left;
    margin: 20px auto;
    width: 80px;
    text-align: center;
    font-family: 'Dosis';
    font-size: 1.5em;
    padding: 10px 90px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.733);
    transition: all 0.5s ease-in-out;
    cursor: pointer
}

.follow:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #6d709b;
    background-position: right;
}
